<div id="spliterContainer">
    <div class="loading-wrapper"></div>
    @(Html.Kendo().Splitter()
        //.Events(e => e.ContentLoad("resizeSplitter"))
        .Name("splitter")
        .Orientation(SplitterOrientation.Vertical)
        .Panes(verticalPanes =>
        {
            verticalPanes.Add()
                .HtmlAttributes(new { id = "top-pane" })
                .Scrollable(false)
                .Collapsible(false)
                .Content(
                Html.Kendo().Splitter()
                    .Events(e => e.ContentLoad("splitter_ContentLoad"))
                    .Name("horizontal")
                    .Panes(horizontalPanes =>
                    {
                        
                        horizontalPanes.Add()
                            .HtmlAttributes(new { id = "left-pane" })
                            .Size("250px")
                            .Collapsible(true)
                            .LoadContentFrom("GetTreeContents", "Tree");


                        horizontalPanes.Add()
                            .HtmlAttributes(new { id = "center-pane" })
                            .LoadContentFrom("GetDetails", "Tree");
    
                    }).ToHtmlString()
                );
        })
      )
</div>

<script type="text/javascript">

    resizeSplitter();

    function resizeSplitter() {
        var spaceHeight = $(window).innerHeight() - $(document.body).outerHeight();

        var container = $("#spliterContainer");
        var targetHeight = parseInt(container.css("height").replace("px", "")) + spaceHeight;
        container.css("height", targetHeight + "px");
    }

    var splitterLoadedContent = 0;

    function splitter_ContentLoad() {
        splitterLoadedContent++;
        if (splitterLoadedContent == 2) {
            processText();
            hideLoading();
            splitterLoadedContent = 0;
        }
    }

    function processText() {
        $("img.k-image[src='@Url.Content("~/Content/images/flag_red.png")']").each(function () {
            var sender = $(this);
            sender.siblings(".text-container").addClass("score-text");
        })
    }

    function hideLoading() {
        $(".loading-wrapper").addClass("hide");
    }
</script>