<div id="spliterContainer">
    <div class="loading-wrapper"></div>
    @(Html.Kendo().Splitter()
        //.Events(e => e.ContentLoad("resizeSplitter"))
        .Name("splitter")
        .Orientation(SplitterOrientation.Vertical)
        .Panes(verticalPanes =>
        {
            verticalPanes.Add()
                .HtmlAttributes(new { id = "top-pane" })
                .Scrollable(false)
                .Collapsible(false)
                .Content(
                Html.Kendo().Splitter()
                    .Events(e => e.ContentLoad("splitter_ContentLoad"))
                    .Name("horizontal")
                    .Panes(horizontalPanes =>
                    {
                        
                        horizontalPanes.Add()
                            .HtmlAttributes(new { id = "left-pane" })
                            .Size("250px")
                            .Collapsible(true)
                            .LoadContentFrom("GetTreeContents", "Tree");


                        horizontalPanes.Add()
                            .HtmlAttributes(new { id = "center-pane" })
                            .Content(@<div></div>);

                    }).ToHtmlString()
                );
        })
              )
</div>

<script type="text/javascript">

    var building = building ||
    {
        _wireUpNodeClickHandler: function(nodeSelctor) {

            $(document).on("click", nodeSelctor, function(event) {

                // Stop default event propogation
                event.preventDefault();

                // Get link
                var href = $(this).attr('href');

                // Refresh content
                var splitter = $("#splitter").data("kendoSplitter");
                splitter.ajaxRequest("#center-pane", href);

                return false;
            });
        },

        initItemNodeHandler: function() {
            building._wireUpNodeClickHandler(".itemNode");
        },

        init: function() {

            // Init tree node selection
            building._wireUpNodeClickHandler(".itemNode");
            building._wireUpNodeClickHandler(".floorNode");
            building._wireUpNodeClickHandler(".areaNode");
            building._wireUpNodeClickHandler(".buildingNode");

            building.initItemNodeHandler();
        }
    };

    building.init();
    resizeSplitter();

    function resizeSplitter() {
        var spaceHeight = $(window).innerHeight() - $(document.body).outerHeight();

        var container = $("#spliterContainer");
        var targetHeight = parseInt(container.css("height").replace("px", "")) + spaceHeight;
        container.css("height", targetHeight + "px");
    }

    var splitterLoadedContent = 0;

    function splitter_ContentLoad() {
        splitterLoadedContent++;
        if (splitterLoadedContent == 1) {
            processText();
            hideLoading();
            splitterLoadedContent = 0;
        }
    }

    function processText() {
        $("img.k-image[src='@Url.Content("~/Content/images/flag_red.png")']").each(function() {
            var sender = $(this);
            sender.siblings(".text-container").addClass("score-text");
        });
    }

    function hideLoading() {
        $(".loading-wrapper").addClass("hide");
    }
</script>