@using Batch2Work.Models
@model ViewerModel

@{
    Layout = null;
}

<style type="text/css">
    #cadContainer {
        height:800px;
    }
    #CADViewX {
        width:99.8%;
        border:1px solid #000;
        height:99.8%;
    }
</style>

<div>
    <div class="align-right">
        <a href="javascript:void(0)" onclick=""><i class="icon-download-alt"></i>  Change grid size</a>
        <div></div>
    </div>
</div>

<div id="cadContainer" style="margin-top: 20px;">
    
    <object id="CADViewX" classid="CLSID:{F5F6C0A5-0D6F-41F6-932C-BB1D4F3566D5}" name="CADViewX">
        <param NAME="AutoScroll" VALUE="-1">
        <param NAME="AutoSize" VALUE="0">
        <param NAME="AxBorderStyle" VALUE="0">
        <param NAME="Caption" VALUE="CADViewX Control">
        <param NAME="Color" VALUE="8421504">
        <param NAME="KeyPreview" VALUE="-1">
        <param NAME="PixelsPerInch" VALUE="96">
        <param NAME="PrintScale" VALUE="1">
        <param NAME="Scaled" VALUE="-1">
        <param NAME="DropTarget" VALUE="0">
        <param NAME="ScreenSnap" VALUE="0">
        <param NAME="SnapBuffer" VALUE="10">
        <param NAME="DoubleBuffered" VALUE="-1">
        <param NAME="Enabled" VALUE="1">
        <param NAME="ToolBarVisible" VALUE="1">
        <param NAME="LayoutIndex" VALUE="0">
        <param NAME="LayoutsBarVisible" VALUE="0">
        <param NAME="SelfPopupMenu" VALUE="0">
        <param NAME="IsWithoutBorder" VALUE="0">
        <param NAME="Millimetres" VALUE="0">
        <param NAME="UseSHXFonts" VALUE="-1">
        <param NAME="SearchSHXPaths" VALUE="-1">
        <param NAME="DefaultSHXPath" VALUE="">
        <param NAME="DefaultSHXFont" VALUE="txt.shx">
        <param NAME="SHXSearchPaths" VALUE="">
        <param NAME="BackGroundColor" VALUE="16777215">
        <param NAME="DrawMode" VALUE="0">
        <param NAME="DefaultColor" VALUE="0">
        <param NAME="PrinterIndex" VALUE="1">
        <param NAME="PaperOrientation" VALUE="1">
        <param NAME="BorderWidth" VALUE="0">
        <param NAME="VisibleOrbit3D" VALUE="0">
        <param NAME="RasterColorDepth" VALUE="3">
        <param NAME="ScaleFactor" VALUE="0.997523866826795">
        <param NAME="ImageAlign" VALUE="5">
        <param NAME="Language" VALUE="English">
        <param NAME="PrintViewArea" VALUE="0">
        <param NAME="IsShowPrinterSetupDialog" VALUE="0">
        <param NAME="HScrollBarVisible" VALUE="0">
        <param NAME="VScrollBarVisible" VALUE="0">
        <param NAME="Font" VALUE="MS Sans Serif">
        <param NAME="Visible" VALUE="0">
        <param NAME="Picture" VALUE="-515497352">
        <param NAME="PrintingTitle" VALUE="CADViewX printing">
        <param NAME="FileName" VALUE="@Model.FileUrl">

    </object>

</div>

<script type="text/javascript">

    resizeCadViewX();

    function resizeCadViewX() {
        var container = $("#cadContainer");
        var cad = $("#CADViewX");
        var spaceHeight = $(window).innerHeight() - $(document.body).outerHeight();
        var originalHeight = parseInt(container.css("height").replace("px", ""));
        var targetHeight = originalHeight + spaceHeight;
        container.css("height", targetHeight + "px");
        container.css("width", "500px")
        setTimeout(function () {
            var cadViewX = document.getElementById('CADViewX');
            if (!(cadViewX == null)) {
                cadViewX.DoToolButtonClick(4);
            };
        }, 0);
    }

    function toggleResizeForm() {

    }

</script>