@{
    Layout = null;
}

<section>
    
    <div class="page-header">
        <h4>Details</h4>
    
        <table class="table table-condensed" >
            
            <tbody>
                @for (int i = 0; i < 100; i++)
                {
                    <tr>
                        <td class="field-name" style="width: 220px">Label:</td>
                        <td>Value</td>                 
                    </tr>
                }    
            </tbody>

        </table>

    </div>

</section>   